appdirs
beautifulsoup4
future
geojson
isodate
lxml
ndg-httpsclient; python_version < '2.7.9'
numpy
pandas
pyasn1; python_version < '2.7.9'
pyopenssl; python_version < '2.7.9'
tables
pytest
requests
suds-jurko
html5lib<=0.9999999
